body {
    margin:40px auto;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
}

h1, h2, h3 {
    margin: 40px 25px;
    line-height:1.2;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {

    margin: 0;
}

.col-names {
    font-weight: bold;
}

.users > ul {

}

.users > ul > li {
    display: inline-block;
    padding: 10px 0;
    width: 100%;

}

.user {
    width: 100%;
    margin: 0 auto;
}

.user > li {
    display: inline-block;
    margin: 0px 25px;
    min-width: 12%;
}
